<header class="page-header">
    <h1>About Us</h1>
  </header>

<article>
  <h3> Welcome to Jungle, your botanical haven online!  </h3>
  <p>At Jungle, we're passionate about connecting you with the verdant wonders of nature. As an online haven for plant enthusiasts, we've curated a diverse collection of botanical treasures, specializing in evergreens, shrubs, and trees.

  Our commitment goes beyond offering a mere selection of greenery – we strive to cultivate an experience that brings the essence of the wild into your life. Whether you're a seasoned gardener or a budding enthusiast, our carefully curated categories cater to all levels of expertise and preferences.

  Explore our lush assortment of evergreens, perfect for adding year-round vibrancy to your living spaces. Dive into our shrub collection, where diversity meets elegance, offering an array of sizes and colors to suit every corner of your garden. And don't miss our majestic trees, the timeless giants that bring character and shade to any landscape.

  We're not just about selling plants; we're here to inspire, educate, and support your green journey. From detailed care guides to expert advice, we're dedicated to ensuring that your Jungle experience not only beautifies your surroundings but also nurtures your passion for the botanical world. Join us in creating thriving havens that celebrate the natural wonder of plants.
  </p>
  <br>
  <h2>Our History</h2>
  <p>Founded in 2015 by botanical enthusiasts Lily Smith, Max Johnson, and Sarah Garcia, Jungle sprouted from a shared passion for nature's beauty. It began as an online hub dedicated to bringing the world of evergreens, shrubs, and trees to plant lovers worldwide. By sourcing the finest greenery globally, Jungle has cultivated a thriving community, nurturing a love for plants in homes since its inception.</p>

</article>